/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles start */
:root{
    --color-primary: rgb(224, 44, 109);
    --color-secondary: rgb(255, 255, 255);
    --color-dark: rgb(58, 58, 58);
    --color-blue-dark: rgb(10, 8, 38);

    --base-font-size: 10px;
    --h-xl-size: 5.2rem;
    --h-l-size: 3.8rem;
    --h-m-size: 2.8rem;
    --h-s-size: 2.4rem;
    --p-l-size: 1.6rem;
    --p-m-size: 1.4rem;
    --p-s-size: 1.2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: var(--base-font-size);
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.d-none{
    display: none;
}

.btn{
    background: var(--color-primary);
    color: var(--color-secondary);
    font-size: var(--p-l-size);
    padding: 10px 24px;
    outline: none;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.container-fluid{
    max-width: 1440px;
    margin: 0 auto;
    background: var(--color-secondary);
}
/* common styles end */

/* header styles start */
.header-container{
    width: 90%;
    margin: 0 auto;
}

/* navbar styles */
.navbar{
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: var(--h-s-size);
    color: var(--color-dark);
    text-align: center;
}

.logo a{
    text-decoration: none;
    color: var(--color-dark);
}

.logo span{
    color: var(--color-primary)
}

.nav-item{
    list-style-type: none;
    padding: 0 14px;
}

.nav-link{
    position: relative;
    display: block;
    text-decoration: none;
    font-size: var(--p-l-size);
    color: var(--color-dark);
    font-weight: 600;
}

.nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--color-primary);
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-item:hover .nav-link::before{
    width: 100%;
}

.nav-icon-container{
    justify-content: center;
    align-items: center;
}

.nav-icon{
    font-size: var(--p-l-size);
}

.nav-icon a{
    color: var(--color-dark);
    padding: 0 14px;
}
.nav-icon a:last-child{
    padding-right: 0;
}
/* banner styles */
.banner-container{
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 580px;
}

.banner-title{
    font-size: var(--h-xl-size);
    font-weight: 700;
    color: var(--color-dark);
}

.banner-description{
    font-size: var(--p-l-size);
    font-weight: 600;
    color: var(--color-dark);
    margin: 16px 0;
}

.btn-primary{
    position: relative;
}

.btn-primary::before{
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s ease;
}

.btn-container:hover .btn-primary::before{
    width: 100%;
}

.banner-image{
    max-width: 475px;
    position: relative;
}

.back-circle-img{
    width: 100%;
}

.front-main-img{
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* header styles end */

/* main styles start */
.main-container{
    width: 80%;
    margin: 0 auto;
}
/* sponsore styles */
.sponsor-container{
    padding: 100px 0;
}

.sponsor-content{
    padding: 35px 0;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(135deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
    border-image-slice: 1;
}

.sponsor-log{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
/* gallery styles */
.galler-container{
    padding: 0 50px;
}

.gallery-title{
    color: var(--color-blue-dark);
    font-size: var(--h-l-size);
    font-weight: 700;
    text-align: center;
}

.gallery-row{
    padding: 50px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.gallery-col{
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.gallery-img{
    max-width: 300px;
}

.gallery-img img{
    width: 100%;
    border-radius: 5px;
}

.gallery-content h3{
    color: rgb(24, 25, 31);
    font-size: var(--h-m-size);
    font-weight: 500;
}

.gallery-content h4{
    color: rgba(0, 0, 0, 0.87);
    font-size: var(--h-s-size);
    font-weight: 400;
}

.ratings{
    margin: 8px 0;
}

.ratings i{
    font-size: var(--p-s-size);
    color: rgb(251, 130, 0);
}

.ratings span{
    font-size: var(--p-s-size);
    color: rgb(94, 99, 102);
    margin-left: 10px;
    font-weight: 700;
}

.gallery-content p{
    color: rgb(120, 120, 133);
    font-size: var(--p-m-size);
    font-weight: 700;
}

.seee-more-btn-container{
    width: 100%;
    text-align: right;
}

.see-more-btn{
    background: transparent;
    color: var(--color-primary);
    font-size: var(--p-l-size);
    font-weight: 700;
    padding: 0;
}
/* feature products styles */
.feature-container{
    padding: 100px 0;
}

.feature-row{
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.feature-col-img{
    width: 40%;
}

.feature-col-img img{
    width: 100%;
}

.feature-col-content{
    width: 60%;
}

.feature-col-content h2{
    color: var(--color-blue-dark);
    font-size: var(--h-l-size);
    font-weight: 700;
}

.feature-col-content p{
    color: rgb(108, 108, 108);
    font-size: var(--p-l-size);
    font-weight: 700;
    margin: 16px 0;
}

.btn-secondary{
    border-radius: 0;
}
/* main styles end */

/* footer styles start */
.footer-container{
    background: var(--color-blue-dark);
    text-align: center;
    padding: 50px 0;
}

.footer-container h2{
    color: var(--color-secondary);
    font-size: var(--h-s-size);
    font-weight: 700;
}

.footer-container p{
    color: var(--color-secondary);
    font-size: var(--p-m-size);
    font-family: "Manrope", sans-serif;
    line-height: 2.5;
}

.footer-container small{
    color: var(--color-secondary);
    font-size: var(--p-m-size);
    font-family: "Manrope", sans-serif;
}


.social-icons{
    margin-top: 20px;
}

.social-icons i{
    color: var(--color-secondary);
    font-size: var(--p-l-size);
    padding: 10px 15px;
}
/* footer styles end */


/* responsive for medium devices */
@media screen and (max-width: 992px){
    /* common styles start */
    :root{
        --h-xl-size: 3.8rem;
        --h-l-size: 2.8rem;
        --h-m-size: 2.4rem;
        --h-s-size: 1.6rem;
        --p-l-size: 1.4rem;
    }
    /* common styles end */

    /* header styles start */
    /* navbar styles */
    .nav-item,
    .nav-icon a{
        padding: 0 7px;
    }
    /* header styles end */

    /* main stayles start */
    /* sponsor styles */
    .sponsor-container{
        padding: 80px 0;
    }

    .sponsor-content{
        grid-template-columns: repeat(4, 1fr);        
    }
    /* gallery section */
    .galler-container{
        padding: 0 30px;
    }

    .gallery-row{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    /* feature products styles */
    .feature-container{
        padding: 50px 0;
    }

    .feature-row{
        flex-direction: column-reverse;
        gap: 0%;
    }

    .feature-col-img{
        width: 80%;
        height: auto;
        margin-top: 5%;
        text-align: center;
    }

    .feature-col-content{
        width: 100%;
        text-align: center;
    }
    /* main stayles end */
}

/* responsive for small devices */
@media screen and (max-width: 576px){
    /* common styles start */
    :root{
        --h-xl-size: 2.8rem;
        --h-l-size: 2.4rem;
        --h-m-size: 1.6rem;
        --h-s-size: 1.6rem;
        --p-l-size: 1.4rem;
    }
    /* common styles end */
    
    /* header styles start */
    /* navbar styles */
    .hamburger{
        display: block;
        margin-right: 7px;
        font-size: var(--h-m-size);
    }

    .nav, .search-icon{
        display: none;
    }
    /* banner styles */
    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-image{
        margin: 0 5%;
        margin-bottom: 5%;
    }

    .banner-title,
    .banner-description{
        text-align: center;
    }

    .btn-container{
        text-align: center;
    }        
    /* header styles end */

    /* main stayles start */
    .main-container{
        width: 90%;
    }
    /* sponsor styles */
    .sponsor-container{
        padding: 50px 0;
    }
    
    .sponsor-content{
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        border: none;   
    }
    /* gallery section */
    .galler-container{
        padding: 0;
    }

    .gallery-row{
        grid-template-columns: 1fr;
    }

    .gallery-col{
        margin: 0 auto;
    }
    /* feature products styles */
    .feature-col-img{
        width: 100%;
        height: auto;
    }
    /* main stayles end */
}